
*{
    margin: 0;
    overflow: hidden;
}

.Homepage{
    background-image: url("./images/bgimage1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 60% 52%;
    display: flex;
}

.containerhome{
   align-items: left;
   width: 50%;
  flex-direction: row;
}

.containerhome h3{
    margin-top: 33rem;
    margin-left: 0.5rem;
    text-align: left;
    font-size: 30px;
    line-height: 2.2rem;
    letter-spacing: .1rem;
    color: white;
    float: bottom;
}



.buttonhome{
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
    box-shadow: 4rem;
    animation: glowing 1400ms infinite;
    border-radius: 18px;
    padding:0.5rem;
    margin: 1rem;
    transition: letter-spacing 0.1s;
    text-align: center;
    margin-top: 38rem;

}
a{
  text-decoration: none;
}

.buttonhome:hover{
  letter-spacing: 0.4rem
}

.buttonhome:active{
  letter-spacing: 0.4rem
}


.buttonhome a{
    text-decoration: none;
    color: black; 
  }

  .buttoncontact:hover{
    letter-spacing: 0.4rem
  }

  @keyframes glowing {
    0% {
      background-color: white;
      box-shadow: 0 0 5px white;
    }
    50% {
      background-color: white;
      box-shadow: 0 0 15px white;
    }
    100% {
      background-color: white;
      box-shadow: 0 0 5px white;
    }
  }
  @media screen and (max-width:1524px) {
    
  }

  @media screen and (max-width:1216px) {
    .containerhome h3{
      font-size: 22px;
margin-bottom: 13rem;
    }
    
  }
  

@media only screen and (max-width:428px) {
    .Homepage{
        background-position: 60% 20%;
        display: flex;
        flex-direction: column-reverse;
    }


  

    .containerhome{
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .containerhome h3{
        font-size: 14px;
        letter-spacing: 0.05rem;
        line-height: 1.4rem;
        width: 90%;
        margin-top: 12rem;
        margin-bottom: 15rem;
    
    }

    .buttonhome{
      margin-top: 10rem;
      margin: 1rem;
      padding: 0.5rem;
    }


   


    
}